<%# this is what replaces the buttons on the showpage %>
<turbo-frame id="event_instance_<%= instance.id %>">
  <% bookings_to_show = instance.bookings %>
  <% bookings_to_show.each do |booking| %>
    <turbo-frame id="booking_<%= booking.id %>">
      <!-- Turbo frame with buttons and state here -->
      <%# <%= booking.id %>
      <div class="d-flex justify-content-between align-items-end">
        <div class="d-flex align-items-end" style="margin-top: -6px;">
          <i class="fa-solid fa-caret-down" style="margin-right: 2px; margin-bottom: 2px;"></i>
          <h6 class="panel">
            <a class="text-decoration-none" style="color: black;" data-bs-toggle="collapse" href="#dropdown_<%= booking.id %>" role="button" aria-expanded="false" aria-controls="dropdown_<%= booking.id %>">
              <div class="d-flex mt-2">
                <div class="d-flex <%= 'mt-1' if booking.status.in?(%w[cancelled_by_teacher cancelled_by_student]) %>">
                  <%= booking.id %>
                  <%= booking.user.first_name %> –&nbsp;
                  <% if booking.status == "pending" && booking.waitlisted? %>
                    <div style="color: #9d94ad;"> waitlisted</div>
                  <% else %>
                    <div style="<%= 'color: #5e9e6b;  font-weight: 600;' if booking.status == 'confirmed' %>">&nbsp;<%= booking.status %>
                    </div>
                  <% end %>
                </div>
              </div>
            </a>
          </div>
          <% if booking.status == 'pending' && booking.event_instance.approval_mode == "manual" %>
            <div class="d-flex align-items-between">
              <% if instance.active_bookings_count < instance.effective_capacity.to_i %>
                <%= button_to "Approve", update_status_booking_path(booking, status: "confirmed"), method: :patch,
          class: "btn btn-sm", style: "background-color: #9bdaa7; height: 19px; line-height: 10px; border-radius: 4px; width: 95px; color: white; margin-right: 4px",
          data: { turbo_method: :patch, turbo_frame: "booking_#{booking.id}" } %>
              <% else %>
                <button class="btn btn-sm disabled" style="height: 19px; line-height: 10px; border-radius: 4px; width: 95px; color: black; margin-right: 4px; margin-top: 4px; padding-top: 4px;" disabled>
                  Full
                </button>
              <% end %>
              <%= button_to "Reject", update_status_booking_path(booking, status: "rejected_by_teacher"), method: :patch,
        class: "btn btn-sm", style: "background-color: #eb4e5a; height: 19px; line-height: 10px; border-radius: 4px; width: 95px; color: white;",
        data: { turbo_method: :patch, turbo_frame: "booking_#{booking.id}" } %>
            </div>
          <% elsif booking.status == 'confirmed' %>
            <div class="relative inline-block text-left" data-controller="cancel-dropdown">
              <button type="button"
          class="btn btn-sm"
          style="background-color: black; height: 20px; line-height: 11px; color: white; border-radius: 4px; width: 95px;"
          data-action="click->cancel-dropdown#toggle">
                Cancel
              </button>
            </div>
          <% end %>
        </div>
      </turbo-frame>
