<div class="d-flex justify-content-center mt-7">
  <h2> <%= t("event_instance.edit") %></h2>
</div>
<div class="col-12 col-md-6 col-lg-6 mx-auto px-4">
  <div class="container d-flex justify-content-center mt-6 mb-6">
    <%= simple_form_for @event_instance, html: { multipart: true, data: { controller: "file-preview edit-form" } } do |f| %>
      <div>
        <!-- Nested form for the associated event -->
        <%= f.fields_for :event do |event_fields| %>
          <%= event_fields.input :title, label: t("event_instance.title") %>
          <%= event_fields.rich_text_area :description, label: t("event_instance.description"), data: { controller: "trix" }, placeholder: "Edit the description..." %>
          <!-- Hidden field for location, if needed later -->
          <%# <%= event_fields.input :location_id, as: :hidden %>
        <% end %>
      </div>
      <!-- Common fields for the event instance -->
      <div data-controller="location">
        <!-- Current Location (Display as text) -->
        <div class="mb-3">
          <h4><%= t("event_instance.current_location") %></h4>
          <h4><%= @event_instance.location&.name || "No location assigned" %></h4>
        </div>
        <!-- Existing Locations to Choose From -->
        <div class="mb-3">
          <h4 class="mb-3"><%= t("event_instance.diff_location") %></h4>
          <!-- Input field for choosing a location with a target for Stimulus -->
          <%= f.input :location_id, as: :select, collection: Location.all.collect { |l| [l.name, l.id] }, label: false, input_html: { "data-location-target": "input" } %>
        </div>
        <!-- List of Locations (hidden by default) -->
        <ul data-location-target="locationList" class="d-none">
          <% Location.all.each do |location| %>
            <li><%= location.name %></li>
          <% end %>
        </ul>
        <!-- Button to Show New Location Input -->
        <div>
          <div data-location-target="locationSavedMessage" style="display: none;">
            <p><%= t("event_instance.location_saved") %></p>
          </div>
          <a href="#" data-action="click->location#showNewLocationForm" style="text-decoration: underline; color: black; cursor: pointer;">
            <%= t("event_instance.new_loc") %>
          </a>
        </div>
        <!-- New Location Input Form (Initially hidden) -->
        <div data-location-target="newLocationForm" style="display: none;">
          <%= f.input :location_name, label: false, input_html: { placeholder: "Enter new location name", id: "new_location_name", "data-location-target": "newLocationInput" } %>
          <button type="button" data-action="click->location#saveLocation", data-location-target="saveLocationButton", style="display: none;">Save Location</button>  <!-- Save Location button -->
          <button type="button" data-action="click->location#cancelNewLocationForm", data-location-target="cancelButton">Cancel</button>
        </div>
        <!-- Hidden Location ID Input -->
        <%# <%= f.hidden_field :location_id, id: "event_location_id" %>
      </div>
      <div data-controller="toggle">
        <div class="d-flex justify-content-start mb-1 mt-3">
          <%= f.label :approval_mode, t("event_form.add_approval_mode"), class: "form-label h4", style: "margin-top: 6px; margin-right: 3px; margin-bottom: 0px;" %>
          <div>
            <div class="form-check form-switch position-relative">
              <%= f.check_box :approval_mode,
          {
            class: "form-check-input",
            role: "switch",
            id: "approvalSwitch",
            data: {
              mode: "approval",
              action: "change->toggle#updateLabel",
              toggle_target: "checkbox",
              approval_on: t("toggle.approval_on_description"),
              approval_off: t("toggle.approval_off_description")
            }
          },
          "manual", "auto" %>
              <% approval_text = f.object.approval_mode == "manual" ? "YES" : "NO" %>
              <% approval_class = approval_text == "YES" ? "switch-label--yes" : "switch-label--no" %>
              <span class="switch-label <%= approval_class %> position-absolute text-white small"
              data-toggle-target="label">
                <%= approval_text %>
              </span>
            </div>
          </div>
        </div>
        <!-- This is the dynamic line below the switch -->
        <div class="h4 mb-4" style="color: #3E34A1 !important;" data-toggle-target="description">
          <%= f.object.approval_mode == "manual" ?
      t("toggle.approval_on_description") :
      t("toggle.approval_off_description") %>
        </div>
      </div>
      <div class="form-group">
        <%= f.input :capacity,
        label: t("event_form.capacity") %>
      </div>
      <div class="form-group">
        <%= f.input :price,
        label: t("event_form.price") %>
      </div>
      <div class="form-group">
        <%= f.input :cancellation_policy_duration,
        label: t("event_form.cancellation_policy") %>
      </div>
      <!-- File upload fields -->
      <div class="form-group">
        <%= f.label :photos,
        label: t("event_instance.change_photo") %>
        <!-- Display current photo or default image if none is attached -->
        <div id="current-photo">
          <% if @event_instance.photos.attached? %>
            <%= image_tag @event_instance.photos.first, style: "width: 100px; height: auto; object-fit: cover;" %>
          <% elsif @event.photos.first %>
            <%= image_tag @event.photos.first, style: "width: 100px; height: auto; object-fit: cover;" %>
          <% else %>
            <%= image_tag "sexy_lady.jpg", style: "width: 100px; height: auto; object-fit: cover;", alt: "Default Photo" %>
          <% end %>
          <!-- File input for new photo -->
          <!-- Preview the new photo here -->
        </div>
        <div id="photo-previews" data-file-preview-target="photosPreview" style="display: flex; margin-top: 10px; margin-bottom: 10px;"></div>
        <%= f.input :photos, label: false, as: :file, input_html: { multiple: true, data: { target: "file-preview.photosInput", action: "change->file-preview#showPhotoPreviews" } } %>
      </div>
      <%# <div class="form-group mt-3">
        <%# <%= f.label :videos, "Upload Videos" %>
      <%# <%= f.input :videos, as: :file, input_html: { multiple: true, data: { target: "file-preview.videosInput", action: "change->file-preview#showVideoPreviews" } } %>
      <%# <div id="video-previews" data-file-preview-target="videosPreview" style="margin-top: 10px;"></div> %>
      <%# </div> %>
      <!-- Submit Button -->
      <%= f.submit t("settings.update"), class: "btn btn-card" %>
    <% end %>
  </div>
