<div class="container px-2 bg-white">
  <div class="row tight-row mt-2">
    <div class="d-flex justify-content-start align-items-baseline">
      <h2 class="show"><%= @event_instance.event.title.titleize %></h2>
      <% if @event_instance.event.approval_mode == "manual" %>
        <%# <h4 style="margin-left: 3px;">approval required</h4> %>
        <i
  class="fa-solid fa-circle-exclamation"
  style="color: #AA83D7; margin-left: 5px; margin-bottom: 2px; font-size: 12px; cursor: pointer; position: relative; top: -2px;"
  data-bs-toggle="popover"
  data-bs-placement="top"
  data-bs-content="Teacher approval required"
  onclick="event.stopPropagation(); event.preventDefault(); showTemporaryPopover(this);"
></i>
      <% end %>
    </div>
    <% if user_signed_in? %>
      <% if current_user == @event.user %>
        <div class="d-flex justify-content-between mt-2">
          <div class="event-buttons mb-2 d-flex justify-content-start" style="margin-left: -3px;">
            <!-- Buttons for the event creator (teacher) -->
            <div class="d-flex flex-end" style="margin-left: 3px;">
              <%= link_to "#", class: "btn btn-outline-primary btn-sm rounded-3", id: "copy-url-button" do %>
                <i class="fa-solid fa-download"></i> copy url
              <% end %>
              <script>
                document.getElementById('copy-url-button').addEventListener('click', function() {
                  // Get the current URL
                  const currentUrl = window.location.href;

                  // Create a temporary textarea element to copy the text
                  const textarea = document.createElement('textarea');
                  textarea.value = currentUrl;
                  document.body.appendChild(textarea);

                  // Select and copy the text
                  textarea.select();
                  document.execCommand('copy');

                  // Remove the temporary textarea
                  document.body.removeChild(textarea);

                  // Optional: Provide feedback to the user
                  alert('URL copied to clipboard!');
                });
              </script>
            </div>
            <div class="d-flex flex-end" style="margin-left: 3px;">
              <!-- ICON TO ADD VIDEO -->
              <%= link_to '#', class: "btn btn-outline-primary btn-sm rounded-3 me-1", data: { bs_toggle: "modal", bs_target: "#addVideoModal" } do %>
                <i class="fa-regular fa-file-video"></i>
              <% end %>
              <%= render 'events/event_video_modal', event_instance: @event_instance, event: @event %>
              <!-- ICON TO EDIT EVENT -->
              <%= link_to edit_event_instance_path(@event_instance), class: "btn btn-outline-primary btn-sm rounded-3 me-1" do %>
                <i class="fa-regular fa-pen-to-square"></i>
              <% end %>
              <!-- ICON TO DUPLICATE EVENT -->
              <%= link_to duplicate_event_path(@event), class: "btn btn-outline-primary btn-sm rounded-3 me-1" do %>
                <i class="fa-regular fa-copy"></i>
              <% end %>
              <!-- ICON TO DELETE EVENT -->
              <%= button_to event_path(@event), method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn btn-outline-primary btn-sm rounded-3" do %>
                <i class="fa-regular fa-trash-can"></i>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <!-- Button for unauthenticated users -->
      <div class="event-buttons mt-3">
        <%= link_to new_user_session_path, class: "btn btn-warning btn-sm rounded-3" do %>
          <i class="fa-solid fa-sign-in-alt"></i> Login to Book
        <% end %>
      </div>
    <% end %>
    <div class="d-flex justify-content-between" style="margin-bottom: 5px;">
      <div class="d-flex align-items-center gap-2">
        <% time_zone_str = current_user&.time_zone.presence || "UTC" %>
        <% time_zone = ActiveSupport::TimeZone[time_zone_str] || ActiveSupport::TimeZone["UTC"] %>
        <i class="fa-regular fa-calendar text-custom" style="font-size: 17px;margin-left: 1px;color: black;margin-top: 1px;"></i>
        <h4 class="show" style="margin-top: 1px;">
          <%= @event_instance.start_time.in_time_zone(time_zone).strftime("%B %d, %Y at %H:%M") %>
          (<%= friendly_time_zone_name(time_zone.name) %>)
        </h4>
      </div>
      <% if @event_instance.likes.exists?(user: current_user) %>
        <%= button_to event_instance_like_path(@event_instance), method: :delete, class: "btn p-0 border-0 bg-transparent" do %>
          <i class="fa-solid fa-heart" style="color: #9062c6; padding-top: 5px;"></i>
        <% end %>
      <% else %>
        <%= button_to event_instance_like_path(@event_instance), method: :post, class: "btn p-0 border-0 bg-transparent" do %>
          <i class="fa-regular fa-heart" style="color: #AA83D7; padding-top: 5px;"></i>
        <% end %>
      <% end %>
    </div>
    <div class="d-flex justify-content-between">
      <% capacity = @event_instance.respond_to?(:capacity) ? @event_instance.capacity : @event.capacity %>
      <% bookings_scope = @event_instance.respond_to?(:bookings) ? @event_instance.bookings : @event.bookings %>
      <% bookings_count = bookings_scope.where(waitlisted: false).where.not(status: ["cancelled_by_teacher", "cancelled_by_student", "rejected_by_teacher", "pending"]).count %>
      <% if capacity.present? && bookings_count.present? %>
        <% if capacity - bookings_count <= 0 %>
          <h4 class="show" style="font-weight: 700; margin-bottom: 2px; color: #786490;"> EVENT FULL!!</h4>
        <% else %>
          <h4 class="show" style="font-weight: 700; color: #786490; margin-bottom: 2px;">Spots left: <%= capacity - bookings_count %></h4>
        <% end %>
      <% end %>
      <% if @event_instance.price_cents.present? && @event_instance.price_cents > 0 %>
        <h4 class="show"><strong></strong><%= number_to_currency(@event_instance.price_cents, unit: "¥", delimiter: ",", precision: 0) %></h4>
      <% elsif @event.price_cents.present? && @event.price_cents > 0 %>
        <span style="font-size: 12px; margin-right: 16px;"><strong><%= number_to_currency(@event.price_cents, unit: "¥", delimiter: ",", precision: 0) %></span>
        <% else %>
          <span style="font-size: 12px; margin-right: 16px;"><strong>¥0</span>
          <% end %>
        </div>
        <% future_event = @event_instance.start_time > Time.current %>
        <% if @event.cancellation_policy_duration.present? %>
          <% user_booking = @event_instance.bookings.find_by(user_id: current_user.id) %>
          <% if user_booking %>
            <% cancellation_cutoff = @event_instance.start_time - @event.cancellation_policy_duration.hours %>
            <% future_event = @event_instance.start_time > Time.current %>
            <% too_late_to_cancel = future_event && Time.current > cancellation_cutoff && !user_booking.waitlisted %>
            <% if too_late_to_cancel || @event_instance.event.payment_obligation_on_booking? %>
              <h4 class="show" style="color: #786490">Cancellation not possible.</h4>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="mt-0">
        <div class="row mx-3">
          <% if @event.user != current_user %>
            <% future_event = @event_instance.start_time > Time.current %>
            <% user_booking = @event_instance.bookings
  .where(user_id: current_user.id)
  .where.not(status: ["cancelled_by_student", "cancelled_by_teacher", "rejected_by_teacher"])
  .first %>
            <% if user_booking && !user_booking.waitlisted %>
              <% case user_booking.status %>
              <% when "pending" %>
                <div class="col-12 px-0">
                  <%= button_to "Pending approval (click to cancel request)", booking_path(user_booking),
            method: :delete,
            class: "btn btn-card mt-1",
            style: "background-color: #a58ab5" %>
                </div>
              <% when "cancelled_by_teacher", "rejected_by_teacher" %>
                <p style="font-size: small; border: 1px solid #dc3545; padding: 7px; display: inline-block; border-radius: 4px; width: 100%; text-align: center; margin-bottom: 5px; margin-top: 2px; color: #dc3545;">
                  Booking Rejected or Cancelled
                </p>
              <% when "confirmed" %>
                <p style="font-size: small; border: 1px solid #000; padding: 7px; display: inline-block; border-radius: 4px; width: 100%; text-align: center; margin-bottom: 5px; margin-top: 2px; color: black;">
                  <%= future_event ? "Booked!" : "Attended" %>
                </p>
                <% if @event.cancellation_policy_duration.present? %>
                  <% cancellation_cutoff = @event_instance.start_time - @event.cancellation_policy_duration.hours %>
                  <% if @event_instance.start_time.future? && Time.current < cancellation_cutoff && !@event.payment_obligation_on_booking %>
                    <div class="col-12 px-0">
                      <%= button_to "Cancel Booking!", cancel_booking_path(user_booking),
                method: :post,
                data: { confirm: "Are you sure you want to cancel your booking?" },
                class: "btn btn-card mt-0" %>
                    </div>
                  <% end %>
                <% else %>
                  <%= button_to "Cancel Booking", cancel_booking_path(user_booking),
            method: :post,
            data: { confirm: "Are you sure you want to cancel your booking?" },
            class: "btn btn-card ml-2 mb-1 mr-0" %>
                <% end %>
              <% end %>
            <% elsif user_booking && user_booking.waitlisted && future_event %>
              <div class="col-12 px-0">
                <%= button_to "On Waitlist (click to leave waitlist)", booking_path(user_booking),
          method: :delete,
          data: { confirm: "Are you sure you want to leave the waitlist?" },
          class: "btn btn-card mt-1" %>
              </div>
            <% elsif future_event %>
              <% if @event_instance.effective_capacity - @event_instance.bookings.where(status: "confirmed").count <= 0 %>
                <div class="col-12 px-0">
                  <button type="button" style="font-size: small; background-color: #8d76a7;"
            class="btn btn-card w-100" data-bs-toggle="modal" data-bs-target="#waitinglistModal">
                    Join Waitlist!
                  </button>
                </div>
              <% else %>
                <div class="col-12 px-0">
                  <button type="button" style="font-size: small" class="btn btn-card ml-2 mb-1 mr-0" data-bs-toggle="modal" data-bs-target="#bookingModal">
                    Book this Class!
                  </button>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
      <!-- Button Row -->
      <!-------------------------------------------------->
      <div class="d-flex justify-content-center">
        <% if user_signed_in? %>
          <% if current_user != @event.user %>
            <%= link_to new_event_post_path(@event),  style: "font-size: small; border: 1px solid #000; padding: 5px; margin-left: 15px; margin-right: 15px; display: inline-block; border-radius: 4px; width: 100%; text-align: center; margin-bottom: 5px; margin-top: 2px; color: black; text-decoration: none;", id: "copy-url-button" do %>
              <i class="fa-regular fa-square-plus"></i> Add post!
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="row g-0 mt-3 mx-4">
      <div class="col-12">
        <% if @event_instance.photos.attached? %>
          <%= cl_image_tag(@event_instance.photos.first.key, class: "image") %>
        <% elsif @event.photos.attached? %>
          <%= cl_image_tag(@event.photos.first.key, class: "image") %>
        <% else %>
          <%= image_tag "sexy_lady.jpg", class: "image", alt: "Default Photo"  %>
        <% end %>
      </div>
      <% if @event.videos.attached? %>
        <%= video_tag(url_for(@event.videos.first), controls: true, type: "video/mp4") %>
        <%# <% else %>
        <%# <p>no videos</p> %>
      <% end %>
      <!-- Description Row -->
      <div class="mt-3">
        <div class="mb-3 me-2">
          <h3 class="show">Teacher</h3>
          <div class="d-flex align-items-center mb-1" style="margin-top: 1px;">
            <%= link_to user_path(@event.user), class: "d-flex align-items-center gap-1" do %>
              <% if @event.user.photo.present? %>
                <%= cl_image_tag @event.user.photo.key, class: "avatar-showpage", alt: "avatar-bordered" %>
              <% else %>
                <%= image_tag "default-avatar.png", width: "200px", class: "avatar-large" %>
              <% end %>
              <h4 class="show"><%= @event.user.name %></h4>
            <% end %>
          </div>
        </div>
        <div class="mb-3 me-2">
          <h3 class="show">Description</h3>
          <h4 class="show"> <%= @event.description %></h4>
        </div>
        <div class="mb-3">
          <% if @event.event_instances.any? %>
            <% if @event.event_instances.first.cancellation_policy_duration != nil %>
              <h3 class="show">Cancellation policy </h3>
              <% if @event.payment_obligation_on_booking? %>
                <h4 class="show">No cancellations or refunds after booking.
                </h4>
              <% else %>
                <h4 class="show"><%= @event.event_instances.first.cancellation_policy_duration %>
                  hours before event starts</h4>
              <% end %>
            <% else %>
              <h3 class="show"> Cancellation policy: not provided</h4>
            <% end %>
          <% end %>
        </div>
        <div class="mb-3">
          <% if @event.event_instances.any? %>
            <h3 class="show">Capacity</h3>
            <h4 class="show"><%= @event_instance.capacity %></h4>
          <% end %>
        </div>
        <div class="mb-2">
          <h3 class="show">Location </h3>
          <% if @event_instance.location.present? %>
            <div class="d-flex align-items-center">
              <i class="fa-solid fa-location-dot fa-xs text-custom" style="padding-right: 2px; padding-top: 3px"></i>
              <h4 class="show"><%= @event_instance.location.name %>
              </div>
              <%# , <%= @event.location.address %>
              <%# , <%= @event.location.address %>
            <% else %>
              <h4 class="show">No location yet</h4>
            <% end %>
          </div>
        </div>
        <div class="modal fade" id="bookingModal" tabindex="-1" aria-labelledby="bookingModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="bookingModalLabel"> Book <%= @event_instance.event.title.capitalize %> class on <%= @event_instance.date.in_time_zone("Asia/Tokyo").strftime("%Y/%m/%d (%a)") %> at <%= @event_instance.start_time.in_time_zone("Asia/Tokyo").strftime("%H:%M") %> for <strong><%= humanized_money_with_symbol(@event_instance.event.price) %></strong>?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="d-flex justify-content-between">
                <div class="modal-body">
                  <%= simple_form_for [@event_instance, Booking.new], url: event_instance_bookings_path(@event_instance), method: :post do |f| %>
                    <div class="d-flex justify-content-end">
                      <%= f.submit "Book!", class: "btn btn-custom my-3" %>
                    </div>
                  <% end %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- END of Booking Modal -->
        <!-- Waiting List Modal -->
        <div class="modal fade" id="waitinglistModal" tabindex="-1" aria-labelledby="waitinglistModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="waitinglistModalLabel">Join the <strong><%= @event.title.capitalize %></strong> Waitlist</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="d-flex justify-content-between">
                <div class="modal-body">
                  <%= simple_form_for [@event_instance, @new_booking] do |f| %>
                    <div class="col-12">
                      <%= f.submit "Join Waitlist", class: "btn btn-custom my-3", style: "background-color: #8d76a7;" %>
                    <% end %>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- END of Waiting List Modal -->
        <hr style="border: none; height: 1px; background-color: #686565ba; margin: 1rem 0;">
        <div class="mt-1 mb-4">
          <div class="d-flex flex-column w-100">
            <div class="mb-1">
              <div class="d-flex justify-content-between">
                <% valid_bookings = @bookings.reject{ |b| b.waitlisted || b.status == "cancelled_by_teacher" || b.status == "pending" ||
                b.status == "cancelled_by_student" || b.status == "rejected_by_teacher" } %>
                <% if valid_bookings.any? %>
                  <h3 class="show mb-1">Attendees</h3>
                </div>
                <% is_creator = current_user == @event_instance.event.user %>
                <% valid_bookings.sort_by(&:created_at).each do |booking| %>
                  <% if is_creator %>
                    <turbo-frame id="booking_<%= booking.id %>">
                      <!-- Creator view with dropdown, payment buttons, etc -->
                      <div class="d-flex flex-column">
                        <div class="d-flex justify-content-between align-items-end">
                          <div class="d-flex align-items-center" style="margin-top: -6px;">
                            <i class="fa-solid fa-caret-down me-1"></i>
                            <div class="panel">
                              <a class="text-decoration-none text-dark" data-bs-toggle="collapse" href="#dropdown_<%= booking.id %>" role="button" aria-expanded="false" aria-controls="dropdown_<%= booking.id %>">
                                <h6><%= booking.user.name %></h6>
                              </a>
                            </div>
                            <div class="panel">
                              <h6>- <%= booking.state %> <%= booking.state == 'paid' ? '✅' : '❌' %></h6>
                            </div>
                          </div>
                          <div>
                            <%= button_to update_status_booking_path(booking, state: (booking.state == 'paid' ? 'unpaid' : 'paid')), method: :patch, data: { turbo_frame: "booking_#{booking.id}" }, class: "btn btn-sm", style: "background-color: #{booking.state == 'paid' ? 'black' : '#9bdaa7'}; color: white; line-height: 1px; height: 20px; border-radius: 4px; width: 127px;" do %>
                              Mark as <%= booking.state == 'paid' ? 'Unpaid' : 'Paid' %>
                            <% end %>
                          </div>
                        </div>
                        <!-- Dropdown -->
                        <div class="collapse mt-2" id="dropdown_<%= booking.id %>">
                          <div class="p-2">
                            <div class="panel">
                              <%= link_to user_path(booking.user), data: { turbo_frame: "_top" }, class: "d-flex align-items-end" do %>
                                <% if booking.user.photo.present? %>
                                  <%= cl_image_tag booking.user.photo.key, class: "avatar-showpage", alt: "avatar-bordered" %>
                                <% else %>
                                  <%= image_tag "default-avatar.png", class: "avatar-showpage" %>
                                <% end %>
                                <h6 class="panel" style="margin-left: 2px;">
                                  view profile</h6>
                              </div>
                            <% end %>
                            <div class="d-flex">
                              <div class="panel" style="margin-left: 3px;">
                                <h6><i class="fa-solid fa-envelope"></i></h6>
                              </div>
                              <div class="panel" style="margin-left: 6px;">
                                <h6>  <%= booking.user.email %></h6>
                              </div>
                            </div>
                            <div class="d-flex">
                              <div class="panel" style="margin-left: 4px;">
                                <h6><i class="fa-solid fa-mobile-screen-button"></i></h6>
                              </div>
                              <div class="panel" style="margin-left: 8px;">
                                <h6>
                                  <%= booking.user.phone_number %></h6>
                              </div>
                            </div>
                            <div class="panel" style="margin-left: 3px;">
                              <h6 >Booking created: <%= booking.created_at.strftime("%Y-%m-%d") %></h6>
                            </div>
                          </div>
                        </div>
                      </div>
                    </turbo-frame>
                  <% else %>
                    <!-- Attendee (non-creator) view -->
                    <div class="d-flex justify-content-between align-items-center mb-2">
                      <div class="d-flex align-items-center">
                        <%= link_to user_path(booking.user), class: "d-flex align-items-center text-decoration-none text-dark", data: { turbo_frame: "_top" } do %>
                          <% if booking.user.photo.present? %>
                            <%= cl_image_tag booking.user.photo.key, class: "avatar-attendee-showpage me-1", alt: "avatar" %>
                          <% else %>
                            <%= image_tag "default-avatar.png", class: "avatar-attendee-showpage me-1", alt: "avatar" %>
                          <% end %>
                          <h4 class="mb-0"><%= booking.user.name %></h4>
                        <% end %>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
              <!-- Waitlist Section (after attendees) -->
              <% waitlist = @event_instance.bookings
  .where(waitlisted: true)
  .where.not(status: ['cancelled_by_teacher', 'cancelled_by_student', 'rejected_by_teacher'])
  .order(:joined_at) %>
              <% if waitlist.any? %>
                <h3 class="show mb-2 mt-4">Waitlist</h3>
                <% waitlist.each do |booking| %>
                  <div class="panel d-flex justify-content-between align-items-center mb-2">
                    <div class="d-flex align-items-center">
                      <%= link_to user_path(booking.user), class: "d-flex align-items-center text-decoration-none text-dark", data: { turbo_frame: "_top" } do %>
                        <% if booking.user.photo.present? %>
                          <%= cl_image_tag booking.user.photo.key, class: "avatar-attendee-showpage me-1", alt: "avatar" %>
                        <% else %>
                          <%= image_tag "default-avatar.png", class: "avatar-attendee-showpage me-1", alt: "avatar" %>
                        <% end %>
                        <h6><%= booking.user.name %></h6>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
          <%# <% # Only show 'See all' if there are more bookings than the capacity %>
          <%# <% if @bookings.count > capacity %>
          <%# <div class="d-flex justify-content-between"> %>
          <%# <p class="mt-2">...plus <strong><%= @bookings.count - capacity %>
          <%# </strong> more</p> %>
          <%# <a href="#" data-bs-toggle="modal" data-bs-target="#attendeesModal" class="mt-2"><strong>See all</strong></a> %>
          <%# </div> %>
          <%# <% end %>
          <%# END of Iterating through attending users % %>
          <!-- All Attendees Modal -->
        </div>
      </div>
    </div>
    <script>
      function showTemporaryPopover(el) {
        // Dispose existing
        const existing = bootstrap.Popover.getInstance(el);
        if (existing) existing.dispose();

        const popover = new bootstrap.Popover(el);
        popover.show();

        // Wait a bit so the popover gets inserted into DOM
        setTimeout(() => {
          const popoverElement = document.querySelector('.popover');
          if (popoverElement) {
            popoverElement.classList.add('fade-out');

            // After fade-out completes, dispose the popover
            setTimeout(() => {
              const popInstance = bootstrap.Popover.getInstance(el);
              if (popInstance) popInstance.dispose();
            }, 800); // matches fade-out duration
          }
        }, 1300); // show for 2.5s, then fade out
      }
    </script>
