<h3 class="mt-5 mb-2">Sign up</h3>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :name,
                required: true,
                autofocus: true %>
    <%= f.input :phone_number,
                autofocus: true,
                autocomplete: "off" %>
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" },
                error: f.object.errors[:email].present? ? { message: f.object.errors[:email].join(', ') } : nil %>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
  </div>
  <div class="form-actions" style="margin-top: 30px;">
    <%= f.button :submit, "Sign up", class: "btn-right" %>
  </div>
<% end %>
<%# adding this for now %>
<% if resource.errors.any? %>
  <div class="alert alert-danger">
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%# end of "adding this for now" %>
<%# <%= render "devise/shared/links" %>
