<turbo-frame id="booking_<%= booking.id %>">
  <div class="d-flex justify-content-between align-items-end">
    <div class="d-flex align-items-end" style="margin-top: -6px;">
      <i class="fa-solid fa-caret-down" style="margin-right: 2px; margin-bottom: 2px;"></i>
      <h6 class="panel">
        <a class="text-decoration-none" style="color: black;" data-bs-toggle="collapse" href="#dropdown_<%= booking.id %>" role="button" aria-expanded="false" aria-controls="dropdown_<%= booking.id %>">
          <div class="d-flex <%= 'mt-1' if booking.status == 'cancelled' %>">
            <%= booking.user.name %> -- <%= booking.status %>
          </div>
        </a>
      </h6>
    </div>
    <% if booking.status == 'pending' %>
      <%= button_to "Approve", update_status_booking_path(booking, status: "confirmed"), method: :patch, class: "btn btn-sm", style: "background-color: #9bdaa7; height: 19px; line-height: 10px; border-radius: 4px; width: 95px; color: white; margin-right: 4px", data: { turbo_method: :patch } %>
      <%= button_to "Reject", update_status_booking_path(booking, status: "cancelled"), method: :patch, class: "btn btn-sm", style: "background-color: #eb4e5a; height: 19px; line-height: 10px; border-radius: 4px; width: 95px; color: white; margin-right: 4px", data: { turbo_method: :patch } %>
    <% elsif booking.status == 'confirmed' %>
      <%= button_to "Cancel", cancel_booking_path(booking), method: :post, class: "btn btn-sm", style: "background-color: black; height: 20px; line-height: 11px; color: white; border-radius: 4px; width: 95px;" %>
    <% end %>
  </div>
  <!-- Dropdown Content -->
  <div class="collapse mt-2" id="dropdown_<%= booking.id %>" data-controller="collapse">
    <div class="p-2" style="border-radius: 5px;">
      <!-- You can put any additional booking details here -->
      <%= link_to user_path(booking.user), data: { turbo_frame: "_top" }, class: "d-flex align-items-end" do %>
        <% if booking.user.photo.present? %>
          <%= cl_image_tag booking.user.photo.key, class: "avatar-showpage", alt: "avatar-bordered" %>
        <% else %>
          <%= image_tag "default-avatar.png", class: "avatar-showpage" %>
        <% end %>
        <h6 class="panel" style="margin-left: 2px;">
          view profile</h6>
      <% end %>
      <div class="d-flex">
        <h6 class="panel" style="margin-left: 3px;"><i class="fa-solid fa-envelope"></i></h6>
        <h6 class="panel" style="margin-left: 6px;">  <%= booking.user.email %></h6>
      </div>
      <div class="d-flex">
        <h6 class="panel" style="margin-left: 4px;"><i class="fa-solid fa-mobile-screen-button"></i> </h6>
        <h6 style="margin-left: 8px;">
          <%= booking.user.phone_number %></h6>
      </div>
      <h6 class="panel" style="margin-left: 3px;">Booking created: <%= booking.created_at.strftime("%Y-%m-%d") %></h6>
    </div>
  </div>
</turbo-frame>
