<div class="teacher-events">
  <%# ---------Rendering events I'm attending---------- %>
  <% if @attending_events.present? %>
    <h6 class="d-flex justify-content-center mb-3">Your Attending Events</h6>
    <div class="attending-events">
      <%= render "shared/event_card_iteration", events: @attending_events.select { |event| event.start_date >= Time.now } %>
    </div>
  <% else %>
    <p>You are not attending any events.</p>
  <% end %>
  <%= link_to events_path, class: "btn-custom d-flex justify-content-center", style: "padding: 10px; margin-right: 50px; margin-left: 50px; border-radius: 6px; margin-top: 40px;", data: { action: "click->teacher#reloadPage" } do %>
    Find other classes!
  <% end %>
  <%# ---------Rendering upcoming events---------- %>
  <p class="d-flex justify-content-center my-4 fs-3 text-custom">
    <% if @events.present? %>
      <h6 class="d-flex justify-content-center mb-3"><%= @user.name %>'s upcoming classes!</h6>
      <%= render "shared/event_card_iteration", events: @events %>
      <%# <%= render "shared/event_card_iteration", events: @events.select { |event| event.start_date >= Time.now } %>
    <% else %>
      <p class="d-flex justify-content-center mb-3"><%= @user.name %> doesn't have upcoming classes.</p>
    <% end %>
  </p>
  <%# ---------Rendering past events--------- %>
  <p class="d-flex justify-content-center mt-3 fs-3 text-custom" id="past-events">
    <% if @events.present? %>
      <h6 class="d-flex justify-content-center mb-3">Past Events</h6>
    <% else %>
      <p class="d-flex justify-content-center mb-5"><%= @user.name %> doesn't have past classes.</p>
    <% end %>
  </p>
  <%= render "shared/event_card_iteration", events: @events %>
  <%# <%= render "shared/event_card_iteration", events: @events.select { |event| event.start_date < Time.now } %>
</div>
