<div class="container px-4 bg-white">
  <div class="row">
    <div class="col-12">
      <% if current_user.events.any? || current_user.bookings.any? %>
        <div class="d-flex justify-content-between mt-4 mb-2">
          <p class="d-flex justify-content-center fs-3 text-dark"><strong>My Dashboard</strong></p>
          <%# <p class="text-white bg-custom button-plus d-flex justify-content-center align-items-center"><strong>
              <%= link_to "+", new_event_path, class: "text-white text-decoration-none" %></strong>
        <%# </p>  %>
        <div class="column mx-3">
        </div>
        <%# <h4 class="d-flex justify-content-left mb-4 pb-2 fs-5 text-dark border-bottom border-1">Last Month:</h4> %>
        <%# <div class="d-flex justify-content-between mb-4 pb-3"> %>
        <%# <div class="col-4 d-flex flex-column align-items-center"> %>
        <%# <p class="lh-1 text-dark text-center">Total Bookings</p> %>
        <%# <div class="flex-grow-1 d-flex align-items-center justify-content-center border-end border-1 w-100" >
                <h2 class="m-0 text-dark "><b><%= @last_month_bookings %>
        <%# </b></h2> %>
        <%# </div> %>
        <%# <div class="col-4 d-flex flex-column align-items-center"> %>
        <%# <p class=" text-dark text-center">Earnings</p> %>
        <%# <h5 class="m-0 text-dark"><b><%= humanized_money_with_symbol @last_month_events_sum %>
      </div>
      <%# <div class="flex-grow-1 d-flex align-items-center justify-content-center border-end border-1 w-100" > %>
      <%# </b></h5> %>
      <%# </div>
            </div> %>
      <div class="col-4 d-flex flex-column align-items-center ps-2">
      </div>
      <%#---- Tallying up students who attended the most ----%>
      <%# removing block AA %>
      <%#---- END of Tallying up students who attended the most ----%>
      <!-- SINGLE Manage Attendees Button -->
    </div>
    <div class="d-flex flex-column">
      <button class="btn btn-outline-primary mb-1" type="button" data-bs-toggle="offcanvas" data-bs-target="#paymentsPanel" aria-controls="paymentsPanel">
        Manage Payments
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="paymentsPanel" aria-labelledby="paymentsPanelLabel">
        <div class="d-flex flex-column">
          <div class="offcanvas-header" style="margin-bottom: -18px;">
            <h2 class="offcanvas-title" id="attendeePanelLabel">Payments Management</h2>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="ms-3">
            <%= link_to dashboard_path, class: "text-dark text-decoration-none", style: "font-family: Inter, sans-serif;" do  %>
              <i class="fa-regular fa-circle-left"></i> Dashboard
            <% end %>
          </div>
        </div>
        <!-- Header with buttons -->
        <div class="d-flex flex-column mb-3 mx-3">
          <a href="#past-events" class="btn btn-card active ml-2 mr-0 me-2 mb-0 mt-1" style= "font-family: Inter, sans-serif;" data-no-close="true">Past Events</a>
          <a href="#future-events" class="btn btn-card ml-2 mr-0 me-2" style= "font-family: Inter, sans-serif;" data-no-close="true">Upcoming Events</a>
        </div>
        <script>
          document.addEventListener('DOMContentLoaded', () => {
            const buttons = document.querySelectorAll('.btn-card');

            buttons.forEach(button => {
              button.addEventListener('click', function (e) {
                buttons.forEach(btn => btn.classList.remove('active'));
                this.classList.add('active');

                // Optional: smooth scroll to section
                const targetId = this.getAttribute('href');
                const target = document.querySelector(targetId);
                if (target) {
                  e.preventDefault(); // avoid default jump
                  target.scrollIntoView({ behavior: 'smooth' });
                }
              });
            });
          });
        </script>
        <div class="offcanvas-body">
          <div>
            <h3 id="future-events" class="mt-5 mb-4">Upcoming Events</h3>
            <% @upcoming_event_instances_created.each do |instance| %>
              <% if instance.bookings.any? %>
                <%= link_to event_instance_path(instance) do %>
                  <div class="panel mb-3">
                    <hr style="border: none; height: 1px; background-color: #686565ba; margin: 1rem 0;">
                    <h4 class= "panel d-flex align-items-center"><%= instance.event.title.upcase %>
                      <div style="margin-bottom: 2px; margin-left: 5px"> <i class="fa-solid fa-arrow-up-right-from-square" style="font-size: 13px;"></i></div>
                    </h4>
                  <% end %>
                  <% time_zone_str = current_user&.time_zone.presence || "UTC" %>
                  <% time_zone = ActiveSupport::TimeZone[time_zone_str] || ActiveSupport::TimeZone["UTC"] %>
                  <h6 class="panel mb-2"> <%= instance.start_time.strftime("%Y/%m/%d (%a)") %>
                    <%= instance.start_time.in_time_zone(time_zone).strftime("%H:%M") %>~
                    <%# <span style="font-size: 12px;" class="text-custom"> %>
                    <%= instance.end_time.in_time_zone(time_zone).strftime("%H:%M") %>
                  </h6>
                  <% instance.bookings.reject(&:waitlisted).each do |booking| %>
                    <turbo-frame id="booking_<%= booking.id %>">
                      <!-- Turbo frame with buttons and state here -->
                      <div class="d-flex justify-content-between align-items-end">
                        <div class="d-flex align-items-end" style="margin-top: -6px;">
                          <i class="fa-solid fa-caret-down" style="margin-right: 2px; margin-bottom: 2px;"></i>
                          <h6 class="panel">
                            <a class="text-decoration-none" style="color: black;" data-bs-toggle="collapse" href="#dropdown_<%= booking.id %>" role="button" aria-expanded="false" aria-controls="dropdown_<%= booking.id %>">
                              <%= booking.user.name %>
                            </a>
                          </h6>
                          <% if booking.state == 'paid' %>
                            <h6 class="panel"> - <%= booking.state %> ✅</h6>
                          <% else %>
                            <h6 class="panel">- <%= booking.state %> ❌</h6>
                          <% end %>
                        </div>
                        <% if booking.state == 'unpaid' %>
                          <%= button_to update_payment_state_booking_path(booking, state: 'paid'), method: :patch, data: { turbo_frame: "booking_#{booking.id}" }, class: "btn btn-sm", style: "background-color: #9bdaa7; height: 19px; line-height: 10px; border-radius: 4px; width: 127px; color: white;" do %>
                            Mark as Paid
                          <% end %>
                        <% else %>
                          <%= button_to update_payment_state_booking_path(booking, state: 'unpaid'), method: :patch, data: { turbo_frame: "booking_#{booking.id}" }, class: "btn btn-sm", style: "background-color: black; height: 20px; line-height: 11px; color: white; border-radius: 4px; width: 127px;" do %>
                            Mark as Unpaid
                          <% end %>
                        <% end %>
                      </div>
                      <!-- Dropdown Content -->
                      <div class="collapse mt-2" id="dropdown_<%= booking.id %>" data-controller="collapse">
                        <div class="p-2" style="border-radius: 5px;">
                          <!-- You can put any additional booking details here -->
                          <%= link_to user_path(booking.user), data: { turbo_frame: "_top" }, class: "d-flex align-items-end" do %>
                            <% if booking.user.photo.present? %>
                              <%= cl_image_tag booking.user.photo.key, class: "avatar-showpage", alt: "avatar-bordered" %>
                            <% else %>
                              <%= image_tag "default-avatar.png", class: "avatar-showpage" %>
                            <% end %>
                            <h6 class="panel" style="margin-left: 2px;">
                              view profile</h6>
                          <% end %>
                          <div class="d-flex">
                            <h6 class="panel" style="margin-left: 3px;"><i class="fa-solid fa-envelope"></i></h6>
                            <h6 class="panel" style="margin-left: 6px;">  <%= booking.user.email %></h6>
                          </div>
                          <div class="d-flex">
                            <h6 class="panel" style="margin-left: 4px;"><i class="fa-solid fa-mobile-screen-button"></i> </h6>
                            <h6 style="margin-left: 8px;">
                              <%= booking.user.phone_number %></h6>
                          </div>
                          <h6 class="panel" style="margin-left: 3px;">Booking created: <%= booking.created_at.strftime("%Y-%m-%d") %></h6>
                        </div>
                      </div>
                    </turbo-frame>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
          <h3 id="past-events" class="mb-4">Past Events</h3>
          <div>
            <% @past_event_instances_created.each do |instance| %>
              <% if instance.bookings.any? %>
                <%= link_to event_instance_path(instance) do %>
                  <div class="panel mb-3">
                    <hr style="border: none; height: 1px; background-color: #686565ba; margin: 1rem 0;">
                    <h4 class= "panel d-flex align-items-center"><%= instance.event.title.upcase %>
                      <div style="margin-bottom: 2px; margin-left: 5px"> <i class="fa-solid fa-arrow-up-right-from-square" style="font-size: 13px;"></i></div>
                    </h4>
                  <% end %>
                  <% time_zone_str = current_user&.time_zone.presence || "UTC" %>
                  <% time_zone = ActiveSupport::TimeZone[time_zone_str] || ActiveSupport::TimeZone["UTC"] %>
                  <h6 class="panel mb-2"> <%= instance.start_time.strftime("%Y/%m/%d (%a)") %>
                    <%= instance.start_time.in_time_zone(time_zone).strftime("%H:%M") %>~
                    <%# <span style="font-size: 12px;" class="text-custom"> %>
                    <%= instance.end_time.in_time_zone(time_zone).strftime("%H:%M") %>
                  </h6>
                  <% instance.bookings.reject(&:waitlisted).each do |booking| %>
                    <turbo-frame id="booking_<%= booking.id %>">
                      <!-- Turbo frame with buttons and state here -->
                      <div class="d-flex justify-content-between align-items-end">
                        <div class="d-flex align-items-end" style="margin-top: -6px;">
                          <i class="fa-solid fa-caret-down" style="margin-right: 2px; margin-bottom: 2px;"></i>
                          <h6 class="panel">
                            <a class="text-decoration-none" style="color: black;" data-bs-toggle="collapse" href="#dropdown_<%= booking.id %>" role="button" aria-expanded="false" aria-controls="dropdown_<%= booking.id %>">
                              <%= booking.user.name %> - <%= booking.status %>
                            </a>
                          </h6>
                        </div>
                        <% if booking.status == 'pending' %>
                          <%= button_to "Approve", approve_booking_path(booking), method: :post %>
                          <%= button_to "Reject", cancel_booking_path(booking), method: :post %>
                        <% elsif booking.status == 'approved' %>
                          <%= button_to "Cancel", cancel_booking_path(booking), method: :post %>
                          <%# <%= button_to update_state_booking_path(booking, state: 'paid'), method: :patch, data: { turbo_frame: "booking_#{booking.id}" }, class: "btn btn-sm", style: "background-color: #9bdaa7; height: 19px; line-height: 10px; border-radius: 4px; width: 127px; color: white;" do %>
                            <%# Mark as Paid %>
                            <%# <% end %>
                            <%# <% else %>
                            <%# <%= button_to update_state_booking_path(booking, state: 'unpaid'), method: :patch, data: { turbo_frame: "booking_#{booking.id}" }, class: "btn btn-sm", style: "background-color: black; height: 20px; line-height: 11px; color: white; border-radius: 4px; width: 127px;" do %>
                              <%# Mark as Unpaid %>
                              <%# <% end %>
                            <% end %>
                          </div>
                          <!-- Dropdown Content -->
                          <div class="collapse mt-2" id="dropdown_<%= booking.id %>" data-controller="collapse">
                            <div class="p-2" style="border-radius: 5px;">
                              <!-- You can put any additional booking details here -->
                              <%= link_to user_path(booking.user), data: { turbo_frame: "_top" }, class: "d-flex align-items-end" do %>
                                <% if booking.user.photo.present? %>
                                  <%= cl_image_tag booking.user.photo.key, class: "avatar-showpage", alt: "avatar-bordered" %>
                                <% else %>
                                  <%= image_tag "default-avatar.png", class: "avatar-showpage" %>
                                <% end %>
                                <h6 class="panel" style="margin-left: 2px;">
                                  view profile</h6>
                              <% end %>
                              <div class="d-flex">
                                <h6 class="panel" style="margin-left: 3px;"><i class="fa-solid fa-envelope"></i></h6>
                                <h6 class="panel" style="margin-left: 6px;">  <%= booking.user.email %></h6>
                              </div>
                              <div class="d-flex">
                                <h6 class="panel" style="margin-left: 4px;"><i class="fa-solid fa-mobile-screen-button"></i> </h6>
                                <h6 style="margin-left: 8px;">
                                  <%= booking.user.phone_number %></h6>
                              </div>
                              <h6 class="panel" style="margin-left: 3px;">Booking created: <%= booking.created_at.strftime("%Y-%m-%d") %></h6>
                            </div>
                          </div>
                        </turbo-frame>
                      <% end %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <button class="btn btn-outline-primary mb-4" type="button" data-bs-toggle="offcanvas" data-bs-target="#bookingPanel" aria-controls="bookingPanel">
          Manage Bookings
        </button>
      </div>
    </div>
  </div>
</div>
</div>
<%# adding another button and panel for bookings management %>
<!-- Offcanvas Panel for bookings -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="bookingPanel" aria-labelledby="bookingPanelLabel">
  <div class="d-flex flex-column">
    <div class="offcanvas-header" style="margin-bottom: -18px;">
      <h2 class="offcanvas-title" id="attendeePanelLabel">Bookings Management</h2>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="ms-3">
      <%= link_to dashboard_path, class: "text-dark text-decoration-none", style: "font-family: Inter, sans-serif;" do  %>
        <i class="fa-regular fa-circle-left"></i> Dashboard
      <% end %>
    </div>
  </div>
  <!-- Header with buttons -->
  <div class="d-flex flex-column mb-3 mx-3">
    <a href="#past-events" class="btn btn-card active ml-2 mr-0 me-2 mb-0 mt-1" style= "font-family: Inter, sans-serif;" data-no-close="true">Past Events</a>
    <a href="#future-events" class="btn btn-card ml-2 mr-0 me-2" style= "font-family: Inter, sans-serif;" data-no-close="true">Upcoming Events</a>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const buttons = document.querySelectorAll('.btn-card');

      buttons.forEach(button => {
        button.addEventListener('click', function (e) {
          buttons.forEach(btn => btn.classList.remove('active'));
          this.classList.add('active');

          // Optional: smooth scroll to section
          const targetId = this.getAttribute('href');
          const target = document.querySelector(targetId);
          if (target) {
            e.preventDefault(); // avoid default jump
            target.scrollIntoView({ behavior: 'smooth' });
          }
        });
      });
    });
  </script>
  <div class="offcanvas-body">
    <div>
      <h3 id="future-events" class="mt-5 mb-4">Upcoming Events</h3>
      <% @upcoming_event_instances_created.each do |instance| %>
        <% if instance.bookings.any? %>
          <%= link_to event_instance_path(instance) do %>
            <div class="panel mb-3">
              <hr style="border: none; height: 1px; background-color: #686565ba; margin: 1rem 0;">
              <h4 class= "panel d-flex align-items-center"><%= instance.event.title.upcase %>
                <div style="margin-bottom: 2px; margin-left: 5px"> <i class="fa-solid fa-arrow-up-right-from-square" style="font-size: 13px;"></i></div>
              </h4>
            <% end %>
            <% time_zone_str = current_user&.time_zone.presence || "UTC" %>
            <% time_zone = ActiveSupport::TimeZone[time_zone_str] || ActiveSupport::TimeZone["UTC"] %>
            <h6 class="panel mb-2"> <%= instance.start_time.strftime("%Y/%m/%d (%a)") %>
              <%= instance.start_time.in_time_zone(time_zone).strftime("%H:%M") %>~
              <%# <span style="font-size: 12px;" class="text-custom"> %>
              <%= instance.end_time.in_time_zone(time_zone).strftime("%H:%M") %>
            </h6>
            <% instance.bookings.reject(&:waitlisted).each do |booking| %>
              <turbo-frame id="booking_<%= booking.id %>">
                <!-- Turbo frame with buttons and state here -->
                <div class="d-flex justify-content-between align-items-end">
                  <div class="d-flex align-items-end" style="margin-top: -6px;">
                    <i class="fa-solid fa-caret-down" style="margin-right: 2px; margin-bottom: 2px;"></i>
                    <h6 class="panel">
                      <a class="text-decoration-none" style="color: black;" data-bs-toggle="collapse" href="#dropdown_<%= booking.id %>" role="button" aria-expanded="false" aria-controls="dropdown_<%= booking.id %>">
                        <%= booking.user.name %> - <%= booking.status %>
                      </a>
                    </div>
                    <% if booking.status == 'pending' %>
                      <%= button_to "Approve", approve_booking_path(booking), method: :post %>
                      <%= button_to "Reject", cancel_booking_path(booking), method: :post %>
                    <% elsif booking.status == 'approved' %>
                      <%= button_to "Cancel", cancel_booking_path(booking), method: :post %>
                      <%# <%= button_to update_state_booking_path(booking, state: 'paid'), method: :patch, data: { turbo_frame: "booking_#{booking.id}" }, class: "btn btn-sm", style: "background-color: #9bdaa7; height: 19px; line-height: 10px; border-radius: 4px; width: 127px; color: white;" do %>
                        <%# Mark as Paid %>
                        <%# <% end %>
                        <%# <% else %>
                        <%# <%= button_to update_state_booking_path(booking, state: 'unpaid'), method: :patch, data: { turbo_frame: "booking_#{booking.id}" }, class: "btn btn-sm", style: "background-color: black; height: 20px; line-height: 11px; color: white; border-radius: 4px; width: 127px;" do %>
                          <%# Mark as Unpaid %>
                          <%# <% end %>
                        <% end %>
                      </div>
                      <!-- Dropdown Content -->
                      <div class="collapse mt-2" id="dropdown_<%= booking.id %>" data-controller="collapse">
                        <div class="p-2" style="border-radius: 5px;">
                          <!-- You can put any additional booking details here -->
                          <%= link_to user_path(booking.user), data: { turbo_frame: "_top" }, class: "d-flex align-items-end" do %>
                            <% if booking.user.photo.present? %>
                              <%= cl_image_tag booking.user.photo.key, class: "avatar-showpage", alt: "avatar-bordered" %>
                            <% else %>
                              <%= image_tag "default-avatar.png", class: "avatar-showpage" %>
                            <% end %>
                            <h6 class="panel" style="margin-left: 2px;">
                              view profile</h6>
                          <% end %>
                          <div class="d-flex">
                            <h6 class="panel" style="margin-left: 3px;"><i class="fa-solid fa-envelope"></i></h6>
                            <h6 class="panel" style="margin-left: 6px;">  <%= booking.user.email %></h6>
                          </div>
                          <div class="d-flex">
                            <h6 class="panel" style="margin-left: 4px;"><i class="fa-solid fa-mobile-screen-button"></i> </h6>
                            <h6 style="margin-left: 8px;">
                              <%= booking.user.phone_number %></h6>
                          </div>
                          <h6 class="panel" style="margin-left: 3px;">Booking created: <%= booking.created_at.strftime("%Y-%m-%d") %></h6>
                        </div>
                      </div>
                    </turbo-frame>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
          <h3 id="past-events" class="mb-4">Past Events</h3>
          <div>
            <% @past_event_instances_created.each do |instance| %>
              <% if instance.bookings.any? %>
                <%= link_to event_instance_path(instance) do %>
                  <div class="panel mb-3">
                    <hr style="border: none; height: 1px; background-color: #686565ba; margin: 1rem 0;">
                    <h4 class= "panel d-flex align-items-center"><%= instance.event.title.upcase %>
                      <div style="margin-bottom: 2px; margin-left: 5px"> <i class="fa-solid fa-arrow-up-right-from-square" style="font-size: 13px;"></i></div>
                    </h4>
                  <% end %>
                  <% time_zone_str = current_user&.time_zone.presence || "UTC" %>
                  <% time_zone = ActiveSupport::TimeZone[time_zone_str] || ActiveSupport::TimeZone["UTC"] %>
                  <h6 class="panel mb-2"> <%= instance.start_time.strftime("%Y/%m/%d (%a)") %>
                    <%= instance.start_time.in_time_zone(time_zone).strftime("%H:%M") %>~
                    <%# <span style="font-size: 12px;" class="text-custom"> %>
                    <%= instance.end_time.in_time_zone(time_zone).strftime("%H:%M") %>
                  </h6>
                  <% instance.bookings.reject(&:waitlisted).each do |booking| %>
                    <turbo-frame id="booking_<%= booking.id %>">
                      <!-- Turbo frame with buttons and state here -->
                      <div class="d-flex justify-content-between align-items-end">
                        <div class="d-flex align-items-end" style="margin-top: -6px;">
                          <i class="fa-solid fa-caret-down" style="margin-right: 2px; margin-bottom: 2px;"></i>
                          <h6 class="panel">
                            <a class="text-decoration-none" style="color: black;" data-bs-toggle="collapse" href="#dropdown_<%= booking.id %>" role="button" aria-expanded="false" aria-controls="dropdown_<%= booking.id %>">
                              <%= booking.user.name %> - <%= booking.status %>
                            </a>
                          </h6>
                        </div>
                        <% if booking.status == 'pending' %>
                          <%= button_to "Approve", approve_booking_path(booking), method: :post %>
                          <%= button_to "Reject", cancel_booking_path(booking), method: :post %>
                        <% elsif booking.status == 'approved' %>
                          <%= button_to "Cancel", cancel_booking_path(booking), method: :post %>
                          <%# <%= button_to update_state_booking_path(booking, state: 'paid'), method: :patch, data: { turbo_frame: "booking_#{booking.id}" }, class: "btn btn-sm", style: "background-color: #9bdaa7; height: 19px; line-height: 10px; border-radius: 4px; width: 127px; color: white;" do %>
                            <%# Mark as Paid %>
                            <%# <% end %>
                            <%# <% else %>
                            <%# <%= button_to update_state_booking_path(booking, state: 'unpaid'), method: :patch, data: { turbo_frame: "booking_#{booking.id}" }, class: "btn btn-sm", style: "background-color: black; height: 20px; line-height: 11px; color: white; border-radius: 4px; width: 127px;" do %>
                              <%# Mark as Unpaid %>
                              <%# <% end %>
                            <% end %>
                          </div>
                          <!-- Dropdown Content -->
                          <div class="collapse mt-2" id="dropdown_<%= booking.id %>" data-controller="collapse">
                            <div class="p-2" style="border-radius: 5px;">
                              <!-- You can put any additional booking details here -->
                              <%= link_to user_path(booking.user), data: { turbo_frame: "_top" }, class: "d-flex align-items-end" do %>
                                <% if booking.user.photo.present? %>
                                  <%= cl_image_tag booking.user.photo.key, class: "avatar-showpage", alt: "avatar-bordered" %>
                                <% else %>
                                  <%= image_tag "default-avatar.png", class: "avatar-showpage" %>
                                <% end %>
                                <h6 class="panel" style="margin-left: 2px;">
                                  view profile</h6>
                              <% end %>
                              <div class="d-flex">
                                <h6 class="panel" style="margin-left: 3px;"><i class="fa-solid fa-envelope"></i></h6>
                                <h6 class="panel" style="margin-left: 6px;">  <%= booking.user.email %></h6>
                              </div>
                              <div class="d-flex">
                                <h6 class="panel" style="margin-left: 4px;"><i class="fa-solid fa-mobile-screen-button"></i> </h6>
                                <h6 style="margin-left: 8px;">
                                  <%= booking.user.phone_number %></h6>
                              </div>
                              <h6 class="panel" style="margin-left: 3px;">Booking created: <%= booking.created_at.strftime("%Y-%m-%d") %></h6>
                            </div>
                          </div>
                        </turbo-frame>
                      <% end %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
          <%# Iterating through teaching events %>
          <div class="container p-0">
          </div>
          <div class="container">
            <div class="row mx-0">
              <h6 class="border-bottom border-1 d-flex justify-content-center mb-3">Upcoming classes</h6>
              <div class="col-12 col-md-6 col-lg-6 mx-auto px-1">
                <div class="card-container mx-auto">
                  <%= render "shared/event_card_iteration", event_instances: @upcoming_event_instances %>
                </div>
              </div>
            </div>
          </div>
        <% else %>
          <h2 class="mb-0 mt-5 d-flex align-items-center fw-bold">You haven't created any events or registered to any classes yet.</h2>
          <a href="new_event_path">
            <p class="text-white bg-custom button-plus d-flex justify-content-center align-items-center my-2"><strong><%= link_to "+", new_event_path, class: "text-white text-decoration-none" %></strong>
            </p>
          </a>
        <% end %>
      </div>
