<div class="d-flex justify-content-center mt-7 mb-4">
  <h2> <%= t("profile.edit_btn") %></h2>
</div>
<div class="col-12 col-md-6 col-lg-6 mx-auto px-4">
  <br>
  <% @user = current_user %>
  <%= simple_form_for @user do |f| %>
    <%= f.input :first_name,
    label: t("registration.f_name") %>
    <%= f.input :last_name,
    label: t("registration.l_name") %>
    <%= f.input :username,
    label: t("registration.username") %>
    <%= f.input :description,
    label: t("profile.description") %>
    <%# <%= f.simple_fields_for :weekly_availabilities do |wa| %>
      <%# <%= render "weekly_availabilities/fields", f: wa %>
      <%# <% end %>
      <%= f.input :instagram,
      label: t("registration.insta"),
      placeholder: t("registration.insta_placeholder") %>
      <%= f.input :x %>
      <%= f.input :tiktok %>
      <%= f.input :photo,
      label: t("registration.photo"),
      as: :file %>
      <%= f.submit t("profile.update"), class: "btn btn-card" %>
    <% end %>
    <%= link_to t("settings.back"), :back, class: "btn btn-manage" %>
  </div>
