<div data-controller="teacher" data-teacher-user-id="<%= @user.id %>">
  <div class="container my-5 w-100 bg-white mt-3">
    <div class="row">
      <div class="column mt-4">
        <br>
        <div class="d-flex flex-row align-items-start">
          <%= image_tag(@user.photo, width: "200px", class: "avatar-large") %>
          <div class="d-flex flex-column justify-content-start ms-2">
            <div class="mb-0"  style="font-size: 18px;"><strong><%= @user.name %></strong></div>
            <%= @user.description %>
          </div>
        </div>
        <% if @user == current_user %>
          <div class="d-flex justify-content-center mt-4">
            <%= link_to "Edit profile", edit_user_path(current_user), class: "btn btn-custom-gray" %>
            <%= link_to "My Dashboard", dashboard_path(current_user), class: "btn btn-custom-gray" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <!-- Icons section for switchign content -->
  <div class="icon-section mt-0 ms-4 me-4">
    <div class="d-flex justify-content-between ms-2 me-2" data-controller="link-highlight">
      <%= link_to "#", data: { turbo_frame: "teacher_content", action: "click->teacher#loadEvents", class: "icon-link selected" } do %>
        <i class="fa-regular fa-calendar"></i> Classes
      <% end %>
      <%= link_to "#", data: { turbo_frame: "teacher_content", action: "click->teacher#loadPosts", class: "icon-link" } do %>
        <i class="fa-solid fa-user"></i> My Posts
      <% end %>
      <%= link_to "#", data: { turbo_frame: "student_content", action: "click->teacher#loadStudentPosts", class: "icon-link" } do %>
        <i class="fa-solid fa-user-group"></i> Student Posts
      <% end %>
    </div>
  </div>
  <!-- Dynamic Content Section (This section will update based on the clicked icon) -->
  <div class="teacher-content mt-4 mb-6" data-teacher-target="content">
    <%= turbo_frame_tag "teacher_content" do %>
      <div id="teacher-events">
        <%= render 'users/classes', events: @events %>
      </div>
    <% end %>
  </div>
</div>
