<div class="container mt-0 my-5 w-100 bg-white">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-6 mt-6">
      <div class="column mt-4 mx-3 d-flex justify-content-start">
        <br>
        <%# <div class="d-flex flex-row align-items-start justify-content-center"> %>
        <div class="d-flex flex-column">
          <div class="">
            <% if @user.photo.attached? %>
              <%= image_tag(@user.photo, width: "200px", class: "avatar-bordered-profile me-2") %>
            <% else %>
              <%= image_tag "default-avatar.png", width: "200px", class: "avatar-large" %>
            <% end %>
            <div class="mt-2 mb-0"  style="font-size: 18px;">
              <h3 style="font-weight: 700;"><%= @user.username %></h3>
            </div>
            <h4 style="margin-bottom: 0px;"><%= @user.description %></h4>
            <%# removing the weekly schedule block for now %>
            <div class="d-flex justify-content-start mt-1">
              <% if @user.instagram.present? %>
                <a href="<%= @user.instagram.starts_with?('http') ? @user.instagram : "https://#{@user.instagram}" %>" target="_blank" class="btn btn-link p-0 me-1">
                  <i class="fa-brands fa-square-instagram" style="font-size: 25px;"></i>
                </a>
              <% end %>
              <% if @user.x.present? %>
                <a href="<%= @user.x.starts_with?('http') ? @user.x : "https://#{@user.x}" %>" target="_blank" class="btn btn-link p-0 me-1">
                  <i class="fa-brands fa-square-x-twitter" style="font-size: 25px;"></i>
                </a>
              <% end %>
              <% if @user.tiktok.present? %>
                <a href="<%= @user.tiktok.starts_with?('http') ? @user.tiktok : "https://#{@user.tiktok}" %>" target="_blank" class="btn btn-link p-0">
                  <i class="fa-brands fa-tiktok" style="font-size: 21px; margin-top: 2px"></i>
                </a>
              <% end %>
            </div>
            <div class="d-flex justify-content-between mt-3 mb-5">
              <% if @user == current_user %>
                <%= link_to t("profile.edit_btn"), edit_user_path(current_user), class: "btn btn-custom-gray", style: "margin-right: 3px;" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Icons section for switching content -->
<!-- Icons section for switching content -->
<div data-controller="teacher" data-teacher-user-id="<%= @user.id %>">
  <div class="row mx-3">
    <div class="icon-section mt-0">
      <div class="d-flex justify-content-between mb-2" data-controller="link-highlight">
        <% if @has_events %>
          <%= link_to "#", data: { action: "click->teacher#loadEvents" }, class: "icon-link icon-tab", id: "events-tab-link" do %>
            <i class="fa-regular fa-calendar"></i> <%= t("profile.classes") %>
          <% end %>
        <% end %>
        <div class="ms-3">
          <%= link_to "#", data: { action: "click->teacher#loadPosts"}, class: "icon-link icon-tab", id: "posts-tab-link" do %>
            <i class="fa-solid fa-user"></i>
            <%= if current_user == @user
      t("post.my_post")
    else
      t("post.users_posts", username: @user.username)
    end %>
          </div>
        <% end %>
        <% if @has_events %>
          <%= link_to "#", data: { action: "click->teacher#loadStudentPosts" }, class: "icon-link icon-tab", id: "student-posts-tab-link" do %>
            <i class="fa-solid fa-user-group"></i> <%= t("post.student_post") %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <!-- Dynamic content loads here -->
  <div class="teacher-content mt-4" data-teacher-target="content">
    <% if @has_events %>
      <%= render partial: 'users/classes',
        locals: {
          upcoming_event_instances: @upcoming_event_instances,
          past_event_instances: @past_event_instances
        } %>
    <% else %>
      <%# <%= render partial: 'users/teacher_posts', locals: { teacher_posts: @teacher_posts } %>
      <%= render partial: 'users/teacher_posts', locals: { teacher_posts: @user.posts.where(hidden: [false, nil]) } %>
    <% end %>
  </div>
</div>
</div>
