<%# Home page cards %>
<%# check if the current user is the event creator %>
<%# <div class="card-container"> %>
<%# <%= instance.event.time_zone %>
<% if instance.event&.user != current_user %> <!-----Non creator users (show booking and wait list buttons-------->
  <%# <% if instance.event.id.present? %>
  <%= link_to event_instance_path(instance), class: "card" do %>
    <% past_event = instance.start_time < Time.current %> <!-- Check if event is in the past -->
    <%# <div class="card-product m-1 mb-3 position-relative"> %>
    <div class="d-flex flex-column justify-content-between">
      <div class="d-flex flex-row justify-content-between" style="margin-bottom: -6px;">
        <!-- EVENT TITLE -->
        <div class="d-flex justify-content-start align-items-baseline">
          <h3><%= instance.event.title.titleize %></h3>
          <% if instance.event.approval_mode == "manual" %>
            <%# <h4 style="margin-left: 3px;">approval required</h4> %>
            <i
  class="fa-solid fa-circle-exclamation"
  style="color: #AA83D7; margin-left: 5px; margin-bottom: 2px; font-size: 12px; cursor: pointer; position: relative; top: -1px;"
  data-bs-toggle="popover"
  data-bs-placement="top"
  data-bs-content="Teacher approval required"
  onclick="event.stopPropagation(); event.preventDefault(); showTemporaryPopover(this);"
></i>
          <% end %>
        </div>
        <turbo-frame id="like_<%= instance.id %>">
          <% if instance.likes.exists?(user: current_user) %>
            <%= button_to event_instance_like_path(instance), method: :delete, class: "btn p-0 border-0 bg-transparent z-1000", form: { data: { turbo_frame: "like_#{instance.id}" } }, onclick: "event.stopPropagation()" do %>
              <i class="fa-solid fa-heart" style="color: #9062c6; margin-bottom: 8px;"></i>
            <% end %>
          <% else %>
            <%= button_to event_instance_like_path(instance), method: :post, class: "btn p-0 border-0 bg-transparent z-1000", form: { data: { turbo_frame: "like_#{instance.id}" } }, onclick: "event.stopPropagation()" do %>
              <i class="fa-regular fa-heart z-10" style="color: #AA83D7; margin-bottom: 8px;"></i>
            <% end %>
          <% end %>
          <turbo-frame id="like_<%= instance.id %>">
          </div>
          <div class="d-flex flex-row justify-content-between">
            <h4> <%= instance.event.user.name.upcase %> </h4>
            <!-- EVENT LOCATION -->
            <%# <div class="d-flex flex-column text-end">
              <p class="text-custom d-flex justify-content-end"><strong><%= event.location.address</strong></p> %>
            <% if instance.start_time > Time.current %>
              <%# <div class="d-flex flex-column justify-content-end"> %>
              <% if instance.spots_left <= 0 %>
                <p class="attendee-number">EVENT FULL!</p>
              <% else %>
                <% if instance.spots_left <= 5 %>
                  <p class="attendee-number"><%= instance.spots_left %> Spots left</p>
                <% end %>
              <% end %>
            <% end %>
            <%# </div> %>
          </div>
          <div class="d-flex align-items-start">
            <!-- EVENT PHOTO -->
            <div>
              <% if instance.photos.attached? %>
                <%= cl_image_tag instance.photos.first.key %>
              <% elsif instance.event.photos.attached? %>
                <%= cl_image_tag instance.event.photos.first.key %>
              <% else %>
                <%# <% if event.user.photo.attached? %>
                <%# <%= cl_image_tag(event.user.photo.key, class: "pl-avatar") %>
                <%# <% end %>
                <%= image_tag "sexy_lady.jpg", alt: "Default Photo"  %>
              <% end %>
            </div>
            <div class="card-infos d-flex flex-row">
              <!-- EVENT DATE AND TIME / INSTRUCTOR-->
              <div class="d-flex justify-content-between ms-3">
                <% time_zone_str = current_user&.time_zone.presence || "UTC" %>
                <% time_zone = ActiveSupport::TimeZone[time_zone_str] || ActiveSupport::TimeZone["UTC"] %>
                <div>
                  <% if instance.start_time.present? %>
                    <div class="d-flex align-items-center mb-1" style="gap: 13px">
                      <i class="fa-regular fa-calendar fa-xs text-custom"></i>
                      <span style="font-size: 12px;" class="text-custom">
                        <%= instance.start_time.in_time_zone(time_zone).strftime("%Y/%m/%d (%a)") %>
                      </span>
                    </div>
                    <div class="d-flex align-items-center mb-1" style="gap: 11px">
                      <i class="fa-regular fa-clock fa-xs text-custom"></i>
                      <span style="font-size: 12px;" class="text-custom">
                        <%= instance.start_time.in_time_zone(time_zone).strftime("%H:%M") %> ~
                        <%# <span style="font-size: 12px;" class="text-custom">~</span> %>
                        <% if instance.end_time.present? %>
                          <%# <span style="font-size: 12px;" class="text-custom"> %>
                          <%= instance.end_time.in_time_zone(time_zone).strftime("%H:%M") %>
                        </span>
                      <% else %>
                        <span style="font-size: 12px;" class="text-custom">End time not available</span>
                      <% end %>
                    </div>
                  <% else %>
                    <p class="mb-0">No valid date or time available.</p>
                  <% end %>
                  <% if instance.location.present? %>
                    <div class="d-flex align-items-center mb-1" style="gap: 13px">
                      <i class="fa-solid fa-location-dot fa-xs text-custom" style="padding-left: 2px"></i>
                      <span style="font-size: 12px;" class="text-custom">
                        <%= instance.location.name %>
                      </span>
                    <% else %>
                      <% if instance.event.location.present? %>
                        <%= instance.event.location.name %>
                      <% else %>
                        <span style="font-size: 12px;" class="text-custom">Location not available</span>
                      <% end %>
                    <% end %>
                  </div>
                  <% if instance.price.present? %>
                    <div class="d-flex align-items-center mb-1"style="gap: 11px">
                      <i class="fa-regular fa-money-bill-1 fa-xs text-custom"></i>
                      <span style="font-size: 12px;" class="text-custom">¥<%= instance.price %>
                      </span>
                    </div>
                  <% else %>
                    <span style="font-size: 12px;" class="text-custom">Price not available</span>
                  <% end %>
                  <%# </div> %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Conditional Buttons inside the card -->
        <!---------------------------------------------->
        <% if current_user %>
          <div style="position: relative; display: inline-flex;">
            <% future_event = instance.start_time > Time.current %>
            <% user_booking = instance.bookings
  .where(user_id: current_user.id)
  .where.not(status: ["cancelled_by_student", "cancelled_by_teacher", "rejected_by_teacher"])
  .first %>
            <% if user_booking %>
              <% if user_booking.waitlisted? && future_event %>
                <p style="font-size: small; border: 1px solid #8d76a7; padding: 8px; display: inline-block; border-radius: 4px; width: 100%; text-align: center; margin-bottom: 5px; margin-top: 5px; color: #8d76a7">
                  On Waitlist!
                </p>
              <% elsif user_booking.status == "pending" %>
                <p style="font-size: small; border: 1px solid #ff9800; padding: 8px; display: inline-block; border-radius: 4px; width: 100%; text-align: center; margin-bottom: 5px; margin-top: 5px; color: #ff9800">
                  Pending Approval
                </p>
              <% elsif user_booking.status == "confirmed"  %>
                <p style="font-size: small; border: 1px solid #000; padding: 8px; display: inline-block; border-radius: 4px; width: 100%; text-align: center; margin-bottom: 5px; margin-top: 5px">
                  <%= future_event ? "Booked" : "Attended" %>
                </p>
              <% elsif user_booking.status == "cancelled" %>
                <p style="font-size: small; border: 1px solid #dc3545; padding: 8px; display: inline-block; border-radius: 4px; width: 100%; text-align: center; margin-bottom: 5px; margin-top: 5px; color: #dc3545">
                  Booking Rejected or Cancelled
                </p>
                <%# No booking buttons if previously cancelled %>
              <% end %>
            <% elsif future_event %>
              <% if instance.effective_capacity - instance.bookings.where(status: "confirmed").count <= 0 %>
                <button type="button" class="btn btn-card ml-2 mr-0" style="background-color: #8d76a7;"
                data-bs-toggle="modal"
                data-bs-target="#waitinglistModal<%= instance.id %>"
                data-controller="modal"
                data-action="click->modal#handleClick">
                  Join Waitlist
                </button>
              <% else %>
                <button type="button" class="btn btn-card ml-2 mr-0"
                data-bs-toggle="modal"
                data-bs-target="#bookingModal<%= instance.id %>"
                data-controller="modal"
                data-action="click->modal#handleClick">
                  Book Class!
                </button>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
      <%# --------------------NEW BLOCK----------------------------------------- %>
    <% else %> <!-- For event creators (show edit, duplicate, delete buttons) -->
      <!-- EVENT CREATOR LAYOUT (DASHBOARD CARD) -->
      <%# <div class="card-product m-1 mb-3 position-relative"> %>
      <%= link_to event_instance_path(instance), class: "card" do %>
        <div class="d-flex flex-column justify-content-between">
          <div class="d-flex flex-row justify-content-between">
            <!-- EVENT TITLE -->
            <h3><%= instance.event.title.titleize %></h3>
            <div class="d-flex gap-2">
              <i class="fa-solid fa-person fa-sm mt-2"></i>
              <% if (instance.effective_capacity || 0) - instance.active_bookings_count <= 0 %>
                <p class="attendee-number text-dark fs-6">
                  <strong><%= instance.effective_capacity %>/<%= instance.effective_capacity %></strong>
                </p>
              <% else %>
                <p class="attendee-number text-dark fs-6">
                  <%= instance.active_bookings_count %>/<%= instance.effective_capacity %>
                </p>
              <% end %>
            </div>
          </div>
          <h4> <%= instance.event.user.name.upcase %> </h4>
        </div>
        <div class="card-infos justify-content-start mb-2 p-0">
          <div class="ms-0">
            <% if instance.photos.attached? %>
              <%= cl_image_tag instance.photos.first.key %>
            <% elsif instance.event.photos.attached? %>
              <%= cl_image_tag instance.event.photos.first.key %>
            <% else %>
              <%# <% if event.user.photo.attached? %>
              <%# <%= cl_image_tag(event.user.photo.key, class: "pl-avatar") %>
              <%# <% end %>
              <%= image_tag "sexy_lady.jpg", alt: "Default Photo"  %>
            <% end %>
          </div>
          <div class="d-flex justify-content-between ms-3">
            <% time_zone_str = current_user&.time_zone.presence || "UTC" %>
            <% time_zone = ActiveSupport::TimeZone[time_zone_str] || ActiveSupport::TimeZone["UTC"] %>
            <div>
              <% if instance.start_time.present? %>
                <div class="d-flex align-items-center mb-1" style="gap: 13px">
                  <i class="fa-regular fa-calendar fa-xs text-custom"></i>
                  <span style="font-size: 12px;" class="text-custom">
                    <%= instance.start_time.in_time_zone(time_zone).strftime("%Y/%m/%d (%a)") %>
                  </span>
                </div>
                <div class="d-flex align-items-center mb-1" style="gap: 11px">
                  <i class="fa-regular fa-clock fa-xs text-custom"></i>
                  <span style="font-size: 12px;" class="text-custom">
                    <%= instance.start_time.in_time_zone(time_zone).strftime("%H:%M") %> ~
                    <%# <span style="font-size: 12px;" class="text-custom">~</span> %>
                    <% if instance.end_time.present? %>
                      <%# <span style="font-size: 12px;" class="text-custom"> %>
                      <%= instance.end_time.in_time_zone(time_zone).strftime("%H:%M") %>
                    </span>
                  <% else %>
                    <span style="font-size: 12px;" class="text-custom">End time not available</span>
                  <% end %>
                </div>
              <% else %>
                <p class="mb-0">No valid date or time available.</p>
              <% end %>
              <% if instance.location.present? %>
                <div class="d-flex align-items-center mb-1" style="gap: 13px">
                  <i class="fa-solid fa-location-dot fa-xs text-custom" style="padding-left: 2px"></i>
                  <span style="font-size: 12px;" class="text-custom">
                    <%= instance.location.name %>
                  </span>
                <% else %>
                  <% if instance.event.location.present? %>
                    <%= instance.event.location.name %>
                  <% else %>
                    <span style="font-size: 12px;" class="text-custom">Location not available</span>
                  <% end %>
                <% end %>
              </div>
              <% if instance.price.present? %>
                <div class="d-flex align-items-center mb-1"style="gap: 11px">
                  <i class="fa-regular fa-money-bill-1 fa-xs text-custom"></i>
                  <span style="font-size: 12px;" class="text-custom">¥<%= instance.price %>
                  </span>
                </div>
              <% else %>
                <span style="font-size: 12px;" class="text-custom">Price not available</span>
              <% end %>
              <%# </div> %>
            </div>
          </div>
        </div>
        <span class="stretched-link"></span>
        <%# </div> %>
      <% end %>
    <% end %>
    <%# </div> %>
    <%# --------------------END OF NEW BLOCK----------------------------------------- %>
    <%# <% end %>
    <%# <% end %>
    <!-- END of Conditional Buttons inside the card -->
    <!---------------------------------------------->
    <!-- Booking Modal for the Event !-->
    <div class="modal fade" id="bookingModal<%= instance.id %>" tabindex="-1" aria-labelledby="bookingModalLabel<%= instance.id %>" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <% user_time_zone_str = current_user&.time_zone.presence || "UTC" %>
            <% time_zone = ActiveSupport::TimeZone[user_time_zone_str] || ActiveSupport::TimeZone["UTC"] %>
            <h1 class="modal-title fs-5" id="bookingModalLabel<%= instance.id %>">
              Book <%= instance.event.title.capitalize %> class on <%= instance.start_time.in_time_zone(time_zone).strftime("%Y/%m/%d (%a)") %> at <%= instance.start_time.in_time_zone(time_zone).strftime("%H:%M") %> for <strong><%= humanized_money_with_symbol(instance.event.price) %></strong>?
            </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <%= simple_form_for [instance, Booking.new], url: event_instance_bookings_path(instance), method: :post do |f| %>
              <div class="d-flex justify-content-end">
                <%= f.submit "Book!", class: "btn btn-custom my-3" %>
              </div>
            <% end %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Wait list Modal for the Event -->
    <div class="modal fade" id="waitinglistModal<%= instance.id %>" tabindex="-1" aria-labelledby="waitinglistModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="waitinglistModalLabel">Join the <strong><%= instance.event.title.capitalize %></strong> Wait List</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="d-flex justify-content-between">
            <div class="modal-body">
              <%= simple_form_for [instance.event, Booking.new], url: event_instance_bookings_path(instance), method: :post do |f| %>
                <%= f.submit "Join Waitlist", class: "btn btn-custom my-3", style: "background-color: #8d76a7" %>
              <% end %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      function showTemporaryPopover(el) {
        // Dispose existing
        const existing = bootstrap.Popover.getInstance(el);
        if (existing) existing.dispose();

        const popover = new bootstrap.Popover(el);
        popover.show();

        // Wait a bit so the popover gets inserted into DOM
        setTimeout(() => {
          const popoverElement = document.querySelector('.popover');
          if (popoverElement) {
            popoverElement.classList.add('fade-out');

            // After fade-out completes, dispose the popover
            setTimeout(() => {
              const popInstance = bootstrap.Popover.getInstance(el);
              if (popInstance) popInstance.dispose();
            }, 800); // matches fade-out duration
          }
        }, 1300); // show for 2.5s, then fade out
      }
    </script>
