<div class="container bg-white w-100 col-12" style="margin-bottom: 5px;">
  <%= simple_form_for @event, html: { multipart: true } do |f| %>
    <!----Recurrence type buttons-------->
    <div data-controller="event-form" class="col-12">
      <div class="recurrence-buttons d-flex justify-content-center mb-5">
        <button type="button"
      class="btn btn-outline-primary me-3"
      data-action="click->event-form#selectEventType"
          data-event-type="One-time">
          One-time
        </button>
        <button
      type="button"
      class="btn btn-outline-primary"
      data-action="click->event-form#selectEventType"
          data-event-type="recurring">
          Recurring
        </button>
      </div>
      <!--one time event form (visible by default)-->
      <%= f.input :title, label:false, input_html: { placeholder: "Title..." } %>
      <%= f.input :description, label:false, input_html: { placeholder: "Describe your event..." } %>
      <%# <%= f.input :date, as: :date, label: "Event Date", input_html: { "data-datepicker-target" => "eventDate", "data-controller" => "datepicker" } %>
      <div data-event-form-target="oneTimeEventForm">
        <%# <div data-datepicker-target="eventInstances"> %>
        <%= f.fields_for :event_instances do |ei| %>
          <div class="form-group" data-controller="datepicker">
            <%= ei.input :date, as: :string, label: "Event Date", input_html: { data: { datepicker_target: "eventDate" } } %>
            <%= ei.input :start_time, as: :string, label: "Start Time", input_html: { data: { datepicker_target: "eventTime "} } %>
          <% end %>
          <%= f.input :duration, as: :integer, label: "Duration (in minutes)" %>
          <%= f.input :capacity, label:false, input_html: { placeholder: "Capacity..." } %>
          <%= f.input :price_cents %>
          <div class="form-group mb-8">
            <%= f.input :photos, as: :file, input_html: { multiple: true } %>
          </div>
          <div class="form-group mb-8">
            <%= f.input :videos, as: :file, input_html: { multiple: true } %>
          </div>
          <%= f.submit "Create Class", class: "btn btn-custom my-3 btn-right" %>
        </div>
      </div>
      <!-------Recurring Event form (hidden initially)-------->
      <div data-event-form-target="recurringOptions" class="d-none">
        <h4>Recurring event options</h4>
        <button type="button" class="btn btn-outline-primary me-3" data-action="click->event-form#selectRecurrence" data-recurrence-type="every-week">Every Week</button>
        <button type="button" class="btn btn-outline-primary" data-action="click->event-form#selectRecurrence" data-recurrence-type="custom-dates">Custom Dates</button>
        <div data-event-form-target="everyWeekEventForm" class="d-none">hellooo!
          <%= f.input :start_date, as: :date, label: "Start Date", input_html: { placeholder: "YYYY-MM-DD" } %>
          <%= f.input :end_date, as: :date, label: "End Date", input_html: { placeholder: "YYYY-MM-DD" } %>
          <%= f.input :day_of_week, collection: Date::DAYNAMES, label: "Day of the Week", prompt: "Select a Day" %>
          <%= f.input :start_time, as: :time, label: "Start Time", input_html: { placeholder: "HH:MM AM/PM" } %>
          <%= f.input :duration, as: :integer, label: "Duration (in minutes)" %>
          <%= f.input :capacity, label:false, input_html: { placeholder: "Capacity..." } %>
          <%= f.input :price_cents %>
          <div class="form-group mb-8">
            <%= f.input :photos, as: :file, input_html: { multiple: true } %>
          </div>
          <div class="form-group mb-8">
            <%= f.input :videos, as: :file, input_html: { multiple: true } %>
          </div>
          <%= f.submit "Create Class", class: "btn btn-custom my-3 btn-right" %>
        </div>
        <!-----Custom dates input (hidden by default)--------->
        <div data-event-form-target="customRecurrence" class="d-none">
          <%= f.input :custom_dates, as: :text, input_html: {
          placeholder: "Select dates",
          data: { controller: "event-form", action: "change->event-form#updateSelectedDates" }
        } %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<!------capacity and price-------->
<!----------location dropdown------>
<!-- app/views/studios/studiolist.html.erb -->
