<!-- Modal for Adding Video -->
<div class="modal fade" id="addVideoModal" tabindex="-1" aria-labelledby="addVideoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h5 class="modal-title" id="addVideoModalLabel">Add a Video</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!-- Modal Body (Video Upload or URL Input) -->
      <div class="modal-body">
        <%= simple_form_for Video.new, url: videos_path, method: :post, html: { multipart: true } do |f| %>
          <%= f.input :file, as: :file, label: "Upload Video", input_html: { multiple: false } %>
          <!-- Hidden Fields to Associate Video -->
          <% if @event.present? %>
            <%= f.hidden_field :event_id, value: @event.id %>
          <% end %>
          <% if @event_instance.present? %>
            <%= f.hidden_field :event_instance_id, value: @event_instance.id %>
          <% end %>
          <%= f.submit "Upload Video", class: "btn btn-custom my-3 btn-right" %>
        <% end %>
      </div>
      <!-- Modal Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
