<%# ----------BANNER---------- %>
<div class="image-container">
  <%= image_tag "home.JPG", alt: "home",   style: "width: 100%; height: auto;" %>
  <div class="overlay-text">
    <h3 style="margin-bottom: 0">Simplify your lessons, amplify your impact.</h3>
    <h4 style="font-size: 12px">Manage bookings, share progress, and grow your dance community.</h4>
  </div>
</div>
<%# ----------END OF BANNER---------- %>
<div class="container w-100 my-5 mt-0 pb-5">
  <div class="row">
    <div class="column">
      <%# <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path "alisa.png" %>
      <br>
      <%# <p class="d-flex justify-content-center my-3 fs-3 text-custom"><strong>Upcoming classes!</strong></p> %>
      <div class="d-flex justify-content-around mb-4">
        <%= link_to events_path, class: "btn btn-custom ml-2 mb-0 mr-0", style: "font-size: small" do %>
          Upcoming classes
        <% end %>
        <%= link_to posts_path, class: "btn btn-custom ml-2 mb-0 mr-0", style: "font-size: small" do %>
          All posts
          <i class="fa-solid fa-film"></i>
        <% end %>
      </div>
    </div>
    <%# iterating through some events %>
    <% @upcoming_event_instances.each do |upcoming_event_instance| %>
      <%= render "shared/event_instances_card", instance: upcoming_event_instance, event: upcoming_event_instance.event %>
    <% end %>
    <h4>past classes</h4>
    <% @past_event_instances.each do |past_event_instance| %>
      <%= render "shared/event_instances_card", instance: past_event_instance, event: past_event_instance.event %>
    <% end %>
  </div>
</div>
