<div class="mt-7">
  <%# <div class="d-flex flex-column mb-5"> %>
  <div class="col-12 col-md-6 col-lg-6 mx-auto px-4">
    <h2> <%= t("post.title") %></h2>
    <div class="post-edit-form">
      <%= simple_form_for @post, url: create_from_event_instance_event_posts_path(@event, event_instance_id: @event_instance.id) do |f| %>
        <% time_zone_str = current_user&.time_zone.presence || "UTC" %>
        <% time_zone = ActiveSupport::TimeZone[time_zone_str] || ActiveSupport::TimeZone["UTC"] %>
        <div class="form-group mb-4">
          <%= @event.title %>
          <%# (<%= @event_instance&.start_time&.in_time_zone(time_zone)&.strftime("%B %d, %Y at %H:%M") %>
          <%= l(@event_instance.start_time.in_time_zone(current_user&.time_zone.presence || 'Asia/Tokyo'), format: :short_day) %>
        </div>
        <%= hidden_field_tag :event_instance_id, params[:event_instance_id] %>
        <% if @event %>
          <%= f.hidden_field :title, value: @event.title %>
        <% else %>
          <%= f.input :title, label: "Title", placeholder: "Give your post a title" %>
        <% end %>
        <div class="d-flex flex-column mt-1">
          <%= f.rich_text_area :description, label: false, data: { controller: "trix" }, placeholder: t("post.placeholder") %>
        </div>
        <%# <%= f.file_field :videos, multiple: true %>
        <%= f.submit t("post.create"), class: "btn btn-card" %>
      <% end %>
    </div>
  </div>
</div>
