<!DOCTYPE html>
<html>
  <head>
    <title>Private Lessons</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="shortcut icon" href="/assets/PL_logo_square-light-mode.svg" media="(prefers-color-scheme: light)">
    <link rel="shortcut icon" href="/assets/PL_logo_square-dark-mode.svg" media="(prefers-color-scheme: dark)">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="manifest" href="/manifest.json">
    <%= render 'shared/ios_pwa_links' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body data-controller="sidebar">
    <%# <%= render "shared/navbar" %>
    <header class="header-overlay d-flex align-items-center justify-content-between pb-2">
      <!-- Logo always shown -->
      <div class="logo">
        <%= link_to root_path do %>
          <%= image_tag "PL_logo.png", class: "pl-logo" %>
        <% end %>
      </div>
      <!-- Hamburger only for not-logged-in users -->
      <%# <% unless user_signed_in? %>
      <div class="hamburger">
        <i class="fa-solid fa-bars fa-xl mt-4"
   style="<%= request.path == '/' || request.fullpath.starts_with?('/dashboard') ? 'color: white;' : 'color: #3E34A1;' %>"
   data-bs-toggle="offcanvas"
   data-bs-target="#sideMenu"
   aria-controls="sideMenu"></i>
      </div>
    </header>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="sideMenu" aria-labelledby="sideMenuLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="sideMenuLabel">Menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="list-unstyled">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Dashboard", dashboard_path %></li>
          <li><%= link_to "Bookings", bookings_path %></li>
        </ul>
      </div>
    </div>
    <%= render "shared/sidebar", data: { sidebar_target: "sidebar" } %>
    <turbo-frame id="flash">
      <%= render "shared/flashes" %>
    </turbo-frame>
    <!-- Main content, wrapped in the div with the sidebar target -->
    <div class="main-content" data-sidebar-target="content">
      <%= yield %>
    </div>
    <%= render "shared/bottomnavbar" %>
  </body>
</html>
