<!DOCTYPE html>
<html>
  <head>
    <title>Private Lessons</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="shortcut icon" href="/assets/PL_logo_square-light-mode.svg" media="(prefers-color-scheme: light)">
    <link rel="shortcut icon" href="/assets/PL_logo_square-dark-mode.svg" media="(prefers-color-scheme: dark)">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="manifest" href="/manifest.json">
    <%= render 'shared/ios_pwa_links' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body data-controller="sidebar">
    <%# <%= render "shared/navbar" %>
    <header class="header-overlay d-flex align-items-center justify-content-between pb-2">
      <!-- Logo always shown -->
      <div class="logo">
        <%= link_to root_path do %>
          <%= image_tag "PL_logo.png", class: "pl-logo" %>
        <% end %>
      </div>
      <!-- Hamburger only for not-logged-in users -->
      <%# <% unless user_signed_in? %>
      <div class="d-flex flex-row">
        <% light_pages = [
    '/',
    /^\/(ja|en)$/,
    /^\/(ja|en)\/dashboard/,
    /^\/(ja|en)\/student_dashboard$/,  # Add this line for student_dashboard
    /^\/(ja|en)\/users\/sign_in$/
 ] %>
        <% dark_pages = [
    /^\/(ja|en)\/users\/\d+$/,
    /^\/(ja|en)\/search$/,
    /^\/(ja|en)\/events\/new$/,
    /^\/(ja|en)\/event_instances\/\d+$/
  ] %>
        <% is_light_page = light_pages.any? do |pattern|
       pattern.is_a?(Regexp) ? request.path.match?(pattern) : request.path == pattern
     end %>
        <% is_dark_page = dark_pages.any? { |pattern| request.path.match?(pattern) } %>
        <% button_style = if is_dark_page
       "font-size: 11px !important; padding: 4px; color: #292A5A !important; border-color: #292A5A !important; border-radius: 9px"
     elsif is_light_page
       "font-size: 11px !important; padding: 4px; color: white !important; border-color: white !important; border-radius: 9px"
     else
       # fallback color for other pages
       "font-size: 11px !important; padding: 4px; color: #292A5A !important; border-color: #292A5A !important; border-radius: 9px"
     end %>
        <div class="language-switcher me-3" style="margin-top: 11px;">
          <% if I18n.locale == :ja %>
            <%= link_to "EN", url_for(request.params.merge(locale: "en")),
          class: "btn btn-outline-primary",
          style: button_style %>
          <% else %>
            <%= link_to "日本語", url_for(request.params.merge(locale: "ja")),
          class: "btn btn-outline-primary ms-1",
          style: button_style %>
          <% end %>
        </div>
        <div class="hamburger" data-sidebar-target="hamburger">
          <i class="fa-solid fa-bars fa-xl mt-4"
       style="<%= is_light_page ? 'color: white;' : 'color: #3E34A1;' %>"
       data-bs-toggle="offcanvas"
       data-bs-target="#sideMenu"
       aria-controls="sideMenu"></i>
        </div>
      </div>
    </header>
    <div class="offcanvas offcanvas-end-burger" tabindex="-1" id="sideMenu" aria-labelledby="sideMenuLabel">
      <div class="offcanvas-header" style="margin-top: 12px; margin-right: 12px; margin-left: 12px;">
        <h5 class="offcanvas-title" id="sideMenuLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="list-unstyled">
          <%= render "shared/sidebar_items" %>
        </div>
      </ul>
    </div>
    <%= render "shared/sidebar", data: { sidebar_target: "sidebar" } %>
    <turbo-frame id="flash">
      <%= render "shared/flashes" %>
    </turbo-frame>
    <!-- Main content, wrapped in the div with the sidebar target -->
    <div class="main-content" data-sidebar-target="content">
      <%= yield %>
    </div>
    <%= render "shared/bottomnavbar" %>
  </body>
</html>
